In [1]:
def hello():
    print("Hello World")

In [2]:
hello()

Hello World

In [3]:
#Function with parameter
def add(x):
    return x + 10

In [4]:
add(10)

20

In [6]:
def even_odd(x):
    if x % 2 == 0:
        print(x, " is even")
    else:
        print(x, " is odd")

In [7]:
even_odd(6)

6  is even

In [9]:
#lambda functions
g = lambda x: x*x*x 
g(7)

343

In [10]:
#lambda functions with filter
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(filter(lambda x: (x % 2 != 0) , li)) 
print(final_list)

[5, 7, 97, 77, 23, 73, 61]

In [12]:
#lambda functions with map
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(map(lambda x: x**2 , li)) 
print(final_list)

[25, 49, 484, 9409, 2916, 3844, 5929, 529, 5329, 3721]

In [13]:
from functools import reduce
li = [5, 8, 10, 20, 50, 100] 
sum = reduce((lambda x, y: x + y), li) 
print (sum)

193