In [1]:
class Phone:
  def make_call(self):
    print("Calling")
  def play_game(self):
    print("Playing")

In [2]:
p1 = Phone()

In [3]:
p1.make_call()

Calling

In [4]:
p1.play_game()

Playing

In [5]:
#Adding parameters to a class method
class Phone():
  def set_color(self, color):
    self.color = color
  def set_cost(self, cost):
    self.cost = cost
  def show_color(self):
    return self.color
  def show_cost(self):
    return self.cost

In [6]:
p2 = Phone()

In [7]:
p2.set_color('red')
p2.set_cost(10000)

In [8]:
p2.show_color()

'red'

In [9]:
p2.show_cost()

10000

In [10]:
class Employee:
  def __init__(self, name, age, salary, gender):
    self.name = name
    self.age = age
    self.salary = salary
    self.gender = gender
  def show_details(self):
    print("The name of the employee is ", self.name)
    print("The age of the employee is ", self.age)
    print("The salary of the employee is ", self.salary)
    print("The gender of the employee is ", self.gender)

In [11]:
e1 = Employee('Raman', 28, 30000, 'Male')

In [12]:
e1.show_details()

The name of the employee is  Raman
The age of the employee is  28
The salary of the employee is  30000
The gender of the employee is  Male

In [13]:
#Inheritance
class Vehicle:
  def __init__(self, mileage, cost):
    self.mileage = mileage
    self.cost = cost

  def show_details(self):
    print("I am a vehicle")
    print("The mileage is ", self.mileage)
    print("The cost is ", self.cost)

In [14]:
v1 = Vehicle(300, 600000)

In [15]:
v1.show_details()

I am a vehicle
The mileage is  300
The cost is  600000

In [16]:
class Car(Vehicle):
  def show_car_details(self):
    print("I am a car")

In [17]:
c1 = Car(100, 60000)

In [18]:
c1.show_details()

I am a vehicle
The mileage is  100
The cost is  60000

In [19]:
c1.show_car_details()

I am a car

In [20]:
#Over-riding init method
#Inheritance
class Vehicle:
  def __init__(self, mileage, cost):
    self.mileage = mileage
    self.cost = cost

  def show_details(self):
    print("I am a vehicle")
    print("The mileage is ", self.mileage)
    print("The cost is ", self.cost)

In [21]:
class Car(Vehicle):
  def __init__(self, mileage, cost, tyres, hp):
    super().__init__(mileage, cost)
    self.tyres = tyres
    self.hp = hp

  def show_car_details(self):
    print("I am a car")
    print("Number of tyres are ", self.tyres)
    print("The horse power is ", self.hp)

In [22]:
c1 = Car(500, 50000, 6, 200)

In [23]:
c1.show_details()

I am a vehicle
The mileage is  500
The cost is  50000

In [24]:
c1.show_car_details()

I am a car
Number of tyres are  6
The horse power is  200

In [25]:
#Multiple Inheritance
class Parent1:
  def assign_str1(self, str1):
    self.str1 = str1

  def show_str1(self):
    print(self.str1)

In [26]:
class Parent2:
  def assign_str2(self, str2):
    self.str2 = str2

  def show_str2(self):
    print(self.str2)

In [27]:
class Child(Parent1, Parent2):
  def assign_str3(self, str3):
    self.str3 = str3

  def show_str3(self):
    print(self.str3)

In [28]:
c1 = Child()

In [29]:
c1.assign_str1("Hello")
c1.assign_str2("Hello Hello")
c1.assign_str3("Hello World")

In [30]:
c1.show_str1()

Hello

In [31]:
c1.show_str2()

Hello Hello

In [32]:
c1.show_str3()

Hello World

In [33]:
#Multi-level Inheritance
class Parent:
  def assign_name(self, name):
    self.name = name

  def show_name(self):
    return self.name

In [34]:
class Child(Parent):
  def assign_age(self, age):
    self.age = age

  def show_age(self):
    return self.age

In [35]:
class GrandChild(Child):
  def assign_gender(self, gender):
    self.gender = gender

  def show_gender(self):
    return self.gender

In [36]:
g1 = GrandChild()

In [37]:
g1.assign_name("Kavita")
g1.assign_age(12)
g1.assign_gender("Female")

In [38]:
g1.show_name()

'Kavita'

In [39]:
g1.show_age()

12

In [40]:
g1.show_gender()

'Female'