# **CONDITIONAL STATEMENTS**

In [1]:
a=20
b=10

In [2]:
#if statement
if b>a:
    print("B is greater than A")
if a>b:
    print("A is greater than B")

A is greater than B

In [3]:
#else statement
if a>b:
    print("A is greater than B")
else:
    print("B is greater than A")

A is greater than B

In [4]:
#elif statement
a=10
b=20
c=30
if (a>b) & (a>c):
    print("A is the greatest")
elif (b>a) & (b>c):
    print("B is the greatest")
else:
    print("C is the greatest")

C is the greatest

In [5]:
#Tuple with if
tup1=("a","b","c")
if "a" in tup1:
    print("a is present in tup1")

a is present in tup1

In [6]:
#List with if
l1=["a","b","c"]
if l1[0]=="a":
    l1[0]=100
print(l1)

[100, 'b', 'c']

In [7]:
#Dictionary with if and else
d1={"k1":10,"k2":20,"k3":30}
if d1["k1"]==20:
    d1["k1"]=d1["k1"]+100
else:
  d1["k1"] = d1["k1"] + 200
print(d1)

{'k1': 210, 'k2': 20, 'k3': 30}

# **LOOPS**

In [8]:
#simple for loop
fruits = ["apple","mango","banana"]
for i in fruits:
    print(i)

apple
mango
banana

In [9]:
#nested for loop
color=["blue","green","yellow"]
item=["book","ball","chair"]
for i in color:
    for j in item:
        print(i,j)

blue book
blue ball
blue chair
green book
green ball
green chair
yellow book
yellow ball
yellow chair

In [10]:
#while loop
#printing numbers from 11 to 20
i=11
while i<=20:
    print(i)
    i=i+1

11
12
13
14
15
16
17
18
19
20

In [11]:
#Printing multiples of 19 from 209 with while loop
i=11
n=19
while i<=20:
    print(n," * ", i, " = ",n*i)
    i=i+1

19  *  11  =  209
19  *  12  =  228
19  *  13  =  247
19  *  14  =  266
19  *  15  =  285
19  *  16  =  304
19  *  17  =  323
19  *  18  =  342
19  *  19  =  361
19  *  20  =  380

In [12]:
#While with list
l1=[1,2,3,4,5]
i=0
while i<len(l1):
    l1[i]=l1[i]+100
    i=i+1
print(l1)

[101, 102, 103, 104, 105]